<main class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light m-4">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">NodeJs</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
           <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <% if(!user) {%>
                  <a class="nav-link active" aria-current="page" href="/">Home</a>
                  <%} else {%>
                    <a class="nav-link active" aria-current="page" href="/dashboard">Dashboard</a>
                  <% } %>
              </li>
            </ul>
            <% if(!user) {%>
              <a class="nav-link active" aria-current="page" href="/auth/login">Login</a>
              <a class="nav-link active" aria-current="page" href="/auth/register">Register</a>
              <%} else {%>
                <a class="nav-link active" aria-current="page" href="#">Profile</a>
                <a class="nav-link active" class="btn btn-primary" aria-current="page" href="/auth/logout">Logout</a>
              <% } %>
           </div>
        </div>
    </nav>
</main>